.footer-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15%;
    padding:80px 50px;
  margin: 10px;
  border-radius: 5px;
}
.about button{
    height: 40px;
    background:#99f1ff;
    padding: 7px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    width: 150%;
    font-size: 15px;
    cursor: pointer;
}
.Quick-links p{
    margin-top: 20px;
}
.community p{
    margin-top: 20px;
}
.about p{
    margin-top:20px ;
}